<%- include('../includes/head.ejs') %>

</head>

<%- include('../includes/header.ejs') %>

<% if(products.length > 0) { %>
<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Quantity</th>
      <th>Price (each)</th>
      <th>Price (total)</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(let product of products) { %>
    <tr>
      <td>
        <%= product.id %>
      </td>
      <td>
        <%= product.qty %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.totalPrice %>
      </td>
      <td>
        <form class="product-form"
              action="/cart/delete-product/<%= product.id %>"
              method="POST">
          <button type="submit"
                  class="btn">Delete</button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr class="total-price">
      <td class="total-price"></td>
      <td class="total-price"></td>
      <td class="total-price right">
        Total Price:
      </td>
      <td class="total-price left">
        <%= totalPrice %>
      </td>
    </tr>
  </tfoot>
</table>
<!-- <p><strong>
    Total Price =
    <%= totalPrice %>
    </strong></p> -->
<% } else { %>
<h1>The Cart is empty!</h1>
<% } %>
<%- include('../includes/footer.ejs') %>
